APP_NAME="Lindu CMS"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://ganti-domain-anda.com
APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_MAINTENANCE_DRIVER=file
LOG_CHANNEL=stack
LOG_LEVEL=warning
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=lindu
DB_USERNAME=lindu
DB_PASSWORD=RAHASIA_KUAT_DISINI
CACHE_STORE=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_SECURE_COOKIE=true
MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="noreply@ganti-domain-anda.com"
FILESYSTEM_DISK=public
MEDIA_DISK=public
MEDIA_CDN_URL=
SEARCH_DRIVER=database
TRUSTED_PROXIES=*
